html {
  scroll-behavior: smooth;
}

.topbar {
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 25%;
	height: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background-color: rgb(33, 33, 33);
	transition: all 0.3s;
	display: block;
	overflow: hidden;
}

.dark {
	position: absolute;
	width: 512px;
	height: 440px;
	left: 40%;
	top: 15%;	
}

.icon {
	transition: all 0.5s ease-in-out;
	position: fixed;
	height: 8%;
	width: 4.4%;
}

.title {
	position: fixed;
	font-family: sans-serif;
	color: white;
	left: 4.5%;
	width: 5%;
	user-select: none;
	top: -9px;
}

.scrollbutton {
	background-color: transparent;
	transition: inherit 0.3s;
	border-style: none;
	position: relative;
	user-select: none;
	margin: 22% 25%;
	cursor: pointer;
	font-size: 25px;
	display: block;
	outline: none;
	width: 25%;
	height: 10%;
	color: white;
	text-align: left;
}

.nav-item {
	box-sizing: border-box;
	color: rgb(33, 37, 41);
	display: list-item;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	height: auto;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	width: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-link {
	background-color:rgba(0, 0, 0, 0);
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:inline-block;
	font-family:Roboto, sans-serif;
	font-size:16px;
	font-weight:300;
	height:34px;
	line-height:24px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-bottom:8px;
	padding-top:8px;
	position: absolute;
	text-align:center;
	text-decoration-color:rgb(255, 255, 255);
	text-decoration-line:none;
	text-decoration-style:solid;
	text-size-adjust:100%;
	transition-delay:0s;
	transition-duration:0.35s;
	transition-property:all;
	transition-timing-function:ease;
	user-select:none;
	width:34px;
	-webkit-tap-highlight-color:rgb(255, 255, 255);
}

.fab {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: "Font Awesome 5 Brands";
	font-size: 16px;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 300;
	height: auto;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	text-rendering: auto;
	text-size-adjust: 100%;
	user-select: none;
	width: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn {
  font-family: sans-serif;
  line-height: 31px;
  position: absolute;
  padding: 5px 22px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  left: 38%;
  top: 1760px;
}

.titleI {
	position: absolute;
	top: 800px;
	left: 36%;
	font-family: sans-serif;
}

.info {
	position: absolute;
	top: 850px;
	left: 30%;
	width: 50%;
	font-family: sans-serif;
}

.downloadtitle {
	position: absolute;
	top: 1500px;
	left: 36%;
	font-family: sans-serif;
}

.downloaddescription {
	position: absolute;
	top: 1550px;
	left: 25%;
	width: 45%;
	font-family: sans-serif;
}

.btn-default {
	color: #fff;
	background-color: #2BBBAD;
}

::-webkit-scrollbar {
	width: 0px;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(255, 255, 255, .10) !important;
  color: #fff !important;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #30cfc0 !important;
  color: #fff !important;
}

.waves-effect {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

@media only screen and (max-width: 922px) {
	.icon {
		width: 48px;
	}

	.title {
		left: 50px;
	}

	.dark {
		left: 8%;
		width: 400px;
	}

	.titleI {
		text-align: center;
		left: 0;
		top: 750px;
		width: 100%;
	}

	.info {
		text-align: center;
		left: 0px;
		width: 100%;
	}

	.downloaddescription {
		text-align: center;
		left: 0px;
		width: 100%;		
	}

	.btn {
		display: none;
	}

	.topbar {
	  	width: 100%;
	  	height: 9%;
	}
}
